body{
    background-color: rgb(116, 108, 108);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
}

.nav {
    background-color: white;
    padding: 10px 20px;
    height: 50px;
    width: 100%;
}

.nav ul {
    float: right;
    margin: 20px;
    display: flex;
    list-style-type: none;
}

.nav ul li {
    margin: 0 10px;
}

.nav a {
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.menu-toggle {
    float: right;
    margin: 15px;
    display: none;
    font-size: 30px;
    cursor: pointer;
}

input{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 10px;
}
button{
    position: absolute;
    bottom: 0;
    float: right;
    margin-left: 90%;
    margin-bottom: 20px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;

}

p {
    background-color: rgb(255, 255, 255);
    color: rgb(3, 141, 72);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    max-width: 80%; 
    border: none;
    border-radius: 10px;
    margin: 10px;
    word-wrap: break-word; 
}


@media (max-width: 768px) {
    
    .nav{
        display: block;
        height: 50px;
        width: 100%;
        margin: 0;
    }
    .nav ul {
        display: none; 
        margin: 30px;
    }

    .nav ul.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
        float: right;
        background-color: white;

    }
    .nav ul li a{
        float: right;
        margin: 0;
    }

    .menu-toggle {
        display: block;
    }
}
