body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: rgb(8, 8, 8);
}
nav{
    background-color: white;
    padding: 5px;
    height: fit-content;
    justify-content: right;
    display: flex;
    flex-direction: row;
    
}

nav a{
    text-decoration: none;
    padding: 10px;
    top: 1;
    color: black;
    font-weight: bold;
    
}

.hero{
    height: 100vh;
    background: linear-gradient(to right, rgba(1, 1, 94, 0.699), rgba(0, 0, 26, 0.938)),url(image/cobweb-1025021_1920.jpg);
    margin: 0;
    padding: 10px;
    color: white;
    justify-content: center;
    text-align: center;
}